/**
自定义的
 */
:root {
    --seen-primary-color: #437de8;
    --seen-access-color: #42b983;
    --seen-chat-color: #9acd32;
    --seen-white-color: #ffffff;
    --seen-info-color:#b9adad;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
}

/**
新
 */
/**
* 主颜色
 */
.seen-primary-color {
    color: var(--seen-primary-color)
}

/**
* 主颜色，背景
 */
.seen-back-primary-color {
    background-color: var(--seen-primary-color)
}

/**
* 许可颜色
 */
.seen-access-color {
    color: var(--seen-access-color)
}
/**
* 聊天颜色，背景色
 */
.seen-back-chat-color {
    background-color: var(--seen-chat-color)
}


/**
* 警告颜色，警告色
 */
.seen-warn-color {
    color: #e8e043
}

/**
* 危险颜色
 */
.seen-danger-color {
    color: #f85454
}

/**
* 信息颜色
 */
.seen-info-color {
    color: var(--seen-info-color)
}

/**
* 信息颜色，背景
 */
.seen-back-info-color {
    background-color: var(--seen-info-color)
}

/**
* 信息白色颜色
 */
.seen-white-color {
    color: var(--seen-white-color);
}
/**
* 信息白色颜色
 */
.seen-back-white-color {
    background-color: var(--seen-white-color);
}

/**
* 黑文本颜色
 */
.seen-text-color {
    color: #3d3d3d
}

/**
*文本样式
 */
.seen-left {
    text-align: left;
}

.seen-right {
    text-align: right;
}


.seen-center {
    text-align: center;
}

.seen-font-smaller {
    font-size: 0.6rem;
}

.seen-font-small {
    font-size: 0.8rem;
}

.seen-font-bolder-weight {
    font-weight: bolder
}